@font-face {
  font-family: "TopazPlus a600a1200a4000";
  src: url(fonts/TopazPlus_a1200_v1.0.ttf);
}

body {
  margin-top: 50px;
  background-image: url("img/black-texture.jpg");
  font-family: Arial;
  color: white;
}

pre {
  font-family: "TopazPlus a600a1200a4000", "Lucida Console", monospace, Monaco;
  font-size: 12pt;
  font-weight: normal;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

#asciilogo-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 5px;
  width: 800px;
}

#neokortex-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header-section,
#footer-section {
  margin: auto;
  width: 70%;
}

#content-section {
  margin: auto;
  width: 60%;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  background-color: #121213;
  padding: 5px;
}

.bubble-section {
  margin: auto;
  width: 250px;
}

.bubbleleftimg {
  border-left-width: thick;
  border-left-style: groove;
  border-left-color: gray;
}

.bubblerightimg {
  border-right-width: thick;
  border-right-style: groove;
  border-right-color: orange;
}

.textbar {
  font-family: Courier New;
  color: white;
  background-color: #161615;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
