@font-face {
  font-family: "TopazPlus a600a1200a4000";
  src: url(fonts/TopazPlus_a1200_v1.0.ttf);
}

body {
  margin-top: 0px;
  background-color: #000000;
  font-family: Arial;
  color: white;
}

pre {
  font-family: "TopazPlus a600a1200a4000", "Lucida Console", monospace, Monaco;
  font-size: 12pt;
  font-weight: normal;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

#asciilogo-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  background-image: url("img/black-texture.jpg");
  width: 400px;
}

#neokortex-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header-section {
  width: 100%;
}

#footer-section {
  text-align: center;
}

#content-section {
  margin: auto;
  width: 60%;
  color: #000000;
  background-color: #ffffff;
  padding: 5px;
}

.textbar {
  font-family: Courier New;
  color: white;
  background-color: #161615;
  padding: 5px;
  margin: 0px;
  text-align: center;
}

.icon-image {
  margin-left: 10px;
  margin-right: 10px;
  height: 35px;
}

.rainbow-bar {
  height: 1px;
  background: linear-gradient(
    90deg,
    red 0%,
    yellow 15%,
    lime 30%,
    cyan 50%,
    blue 65%,
    magenta 80%,
    red 100%
  );
  background-size: 200%;
  animation: moveGradient 2s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
