<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>neokortex.co.uk</title>

  <link rel="stylesheet" href="libs/milligram.min.css" />
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <div id="logo-section">
    <img id="neokortex-logo" alt="neokortex-logo" />
  </div>

  <div id="header-section">
    <div class="rainbow-bar"></div>
    <p id="random-fing" class="textbar"></p>
    <div class="rainbow-bar-reverse"></div>
  </div>

  <br />

  <div class="container">
    <div class="row">
      <nav class="column column-25">
        <ul class="navmenu" id="pages-menu-items"></ul>

        <div id="bbsadvert">
          <h4>Feeling oldskool?</h4>Visit the <a href="https://www.retro32.com/" target="_blank">Retro32</a>
          BBS<br /> via <a href="https://www.retro32.com/retro32-bbs" target="_blank">telnet</a> at<br />
          <strong>bbs.retro32.com</strong> <br />on port <strong>1337</strong>
        </div>

        <h4>Party Results:</h4>
        <ul class="navmenu" id="partyresults-menu-items"></ul>

        <h4>Releases:</h4>
        <ul class="navmenu" id="releases-menu-items"></ul>

        <h4>Scene Interviews:</h4>
        <ul class="navmenu" id="interviews-menu-items"></ul>
      </nav>

      <div id="main-content" class="column">
        <h2>News and Announcements</h2>

        <div id="news-app">
          <span v-for="newsitem in news">
            <span class="news-date">{{ newsitem.date }}</span>
            <h4 v-html="newsitem.title"></h4>

            <span v-for="content in newsitem.content">
              <p v-html="content"></p>
            </span>

            <hr />
          </span>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="column column-50">
        <a href="https://www.facebook.com/neokortex.demoscene.7" target="_blank">
          <img src="img/f_logo_RGB-Hex-Blue_512.png" class="icon-image" />
        </a>

        <a href="https://twitter.com/nkxdemoscene" target="_blank">
          <img src="img/Twitter_Logo_WhiteOnBlue.png" class="icon-image" />
        </a>

        <a href="https://demozoo.org/groups/90368" target="_blank">
          <img src="img/demozoo_title.png" class="icon-image" />
        </a>

        <a href='mailto:fuzion@neokortex.co.uk?subject="STuFF"' target="_blank">
          <img src="img/email-icon.png" class="icon-image" />
        </a>
      </div>

      <div class="column column-50">
        <p id="third-party-credits">
          The use of
          <a href="https://milligram.io/" target="_blank">Milligram</a> and
          <a href="http://ansilove.github.io/ansilove.js" target="_blank">AnsiLoveJS</a>
          <br />
          helped to create this site!
        </p>
      </div>
    </div>
  </div>

  <script src="scripts/nkxwebapp.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
  <script src="scripts/vuetiful-nktx-news.js"></script>
</body>

</html>